@page "/"
@using System.Net.Http.Headers
@inject IJSRuntime Js
@inject HttpClient HttpClient
@using Data
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>Main Page</PageTitle>
@if (song != null)
{
    <h1>Current Time: @CurrentTime seconds</h1>
    <input type="range" min="0" max="100" step="5" @bind-value=@Volume>
    <button @onclick="@(() => PlayAudio(Audio))">
        Play Audio
    </button>

    <button @onclick="@(() => RevealSong(SolutionAudio))">
        Reveal Song
    </button>

    <button @onclick="IncreaseTime">Increase Time</button>

    <button @onclick="RefreshSong">Refresh Song</button>

    <audio @ref="@Audio" @ontimeupdate="TimeUpdate">
        <source src="@song.track!.preview_url">
    </audio>
    <br>
    @if (showSong)
    {
        <img src="@song.track!.album!.images!.Where(x => x.height == 640).FirstOrDefault()!.url" width="400">
        <h1>@song.track.name</h1>
        <p1>By: @String.Join(", " , song!.track!.artists!.Select(x=>x.name))</p1>
        <br>
        <p1>From Album: @song!.track!.album.name</p1>
    }

    <audio @ref="@SolutionAudio">
        <source src="@song.track!.preview_url">
    </audio>
}

@code {
    private int volume = 25;
    public int Volume
    {
        get
        {
            return volume;
        }
        set
        {
            volume = value;
            SetAudioVolume(Audio, value);
            SetAudioVolume(SolutionAudio, value);
        }
    }
    public Song? song = null;

    public SpotifyPlaylist? playListItems = null;
    public bool showSong { get; set; } = false;
    public float CurrentTime { get; set; } = 0.5f;

    bool IsPlaying { get; set; }

    private ElementReference Audio { get; set; }
    private ElementReference SolutionAudio { get; set; }
    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //Authentication for Playlist:
            var client_id = Configuration.GetSection("NGS:ClientId").Value;
            var client_secret = Configuration.GetSection("NGS:ClientSecret").Value;

            var content = new FormUrlEncodedContent(new[] { new KeyValuePair<string, string>("grant_type", "client_credentials") });
            var authenticationString =
            Convert.ToBase64String(System.Text.ASCIIEncoding.ASCII.GetBytes($"{client_id}:{client_secret}"));

            var bearerTokenRequest = new HttpRequestMessage(HttpMethod.Post, "https://accounts.spotify.com/api/token");
            bearerTokenRequest.Headers.Authorization = new AuthenticationHeaderValue("Basic", authenticationString);
            bearerTokenRequest.Content = content;

            var result = await HttpClient.SendAsync(bearerTokenRequest);
            var token = await result.Content.ReadFromJsonAsync<SpotifyToken>();


            // Get Song:
            var playList_id = "5tP9Gkjx7PGQiFU8ZthNTJ";
            var songRequest = new HttpRequestMessage(HttpMethod.Get,
            $"https://api.spotify.com/v1/playlists/{playList_id}/tracks?fields=items(track(name%2Cid%2Cpreview_url%2Cartists(name)%2Calbum(images%2Cname)))");
            songRequest.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token?.access_token);
            var loveliveItem = await HttpClient.SendAsync(songRequest);
            Console.WriteLine(loveliveItem);
            playListItems = await loveliveItem.Content.ReadFromJsonAsync<SpotifyPlaylist>();

            Random rnd = new Random();
            var randomSongNum = rnd.Next(0, playListItems!.items!.Length);
            var randomSong = playListItems.items[randomSongNum]!;

            song = randomSong;
            StateHasChanged();
            LoadAudio(Audio);
            LoadAudio(SolutionAudio);
            SetAudioVolume(Audio, volume);
            SetAudioVolume(SolutionAudio, volume);
        }

        base.OnAfterRender(firstRender);
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var moviesApiKey = Configuration.GetSection("Movies:ServiceApiKey").Value;
    }


    private void SetAudioVolume(ElementReference audioElement, int volume)
    {
        var newVol = volume / 100.0f;
        Js.InvokeVoidAsync("setVolume", audioElement, newVol).GetAwaiter();
    }
    private void PlayAudio(ElementReference audioElement) =>
    Js.InvokeVoidAsync("playAudio", audioElement).GetAwaiter();


    private void LoadAudio(ElementReference audioElement) =>
    Js.InvokeVoidAsync("loadAudio", audioElement).GetAwaiter();


    private void StopAudio(ElementReference audioElement) =>
    Js.InvokeVoidAsync("stopAudio", audioElement).GetAwaiter();

    public void IncreaseTime()
    {
        CurrentTime += 0.5f;
    }
    public void RefreshSong()
    {
        Random rnd = new Random();
        var randomSongNum = rnd.Next(0, playListItems!.items!.Length);
        var randomSong = playListItems.items[randomSongNum]!;

        song = randomSong;

        showSong = false;
        CurrentTime = 0.5f;
        LoadAudio(SolutionAudio);
        LoadAudio(Audio);
        StateHasChanged();
    }

    public void RevealSong(ElementReference audioElement)
    {
        showSong = !showSong;
        LoadAudio(SolutionAudio);
        Console.WriteLine(song.track.album.images.Where(x => x.height == 640).FirstOrDefault().url);
        if (showSong)
        {
            PlayAudio(SolutionAudio);
        }
        else
        {
            StopAudio(SolutionAudio);
        }

    }
    private async void TimeUpdate(EventArgs e)
    {
        var result = await Js.InvokeAsync<string>("returnDuration", Audio);
        Console.WriteLine(result);
        var songDuration = float.Parse(result);
        if (songDuration > CurrentTime)
        {
            StopAudio(Audio);
        }
    }

}
